
.question {
  display: none;
}
.question.active {
  display: block;
}
.bg-D9D9D9 {
  background-color: #d9d9d9;
}

.text-BF6159 {
  color: #bf6159;
}

.text-BF6159 {
  color: #bf6159;
}

/* 9a9794 */

.radio-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1 {
  margin-bottom: 20px;
}
.radio-item [type="radio"] {
  display: none;
}
.radio-item + .radio-item {
  margin-top: 15px;
}
.radio-item label {
  display: block;
  padding: 20px 60px;
  background: #f0f0f0;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  min-width: 250px;
  white-space: nowrap;
  position: relative;
  transition: 0.4s ease-in-out 0s;
}
.radio-item label:after,
.radio-item label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.radio-item label:after {
  height: 19px;
  width: 19px;
  border: 2px solid #bf6159;
  left: 19px;
  top: calc(50% - 12px);
}
.radio-item label:before {
  background: #bf6159;
  height: 20px;
  width: 20px;
  left: 19px;
  top: calc(50% 5px);
  transform: scale(10);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out 0s;
}
.radio-item [type="radio"]:checked ~ label {
  border-color: #bf6159;
}
.radio-item [type="radio"]:checked ~ label::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.main-content {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: 5em auto;
  display: flex;
}
.company__info {
  background-color: #008080;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.fa-android {
  font-size: 3em;
}
@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
  }
  .company__info {
    display: none;
  }
  .login_form {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%;
  }
}

.dropdown-menu {
  max-height: 200px; /* กำหนดความสูงสูงสุด */
  overflow-y: auto; /* เปิดใช้งานการเลื่อนแนวตั้ง */
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.nav-link {
  font-family: 'Prata', serif;
}

